# Stage 4 - Airbnb Amsterdam -  Feature Selection

Choosing the most effective variables

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('stage4_amsterdam_feature_selection.csv')
df.head()

,Unnamed: 0,id,host_id,host_location,host_response_time,host_is_superhost,host_neighbourhood,host_total_listings_count,host_has_profile_pic,host_identity_verified,...,_'facebook',_'offline_government_id',_'government_id',_'selfie',_'identity_manual',_'work_email',_'google','phone',_'manual_offline',ListingsGroup
0,0,6345018,31857493,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,1,10227700,52558016,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,2,13585881,78399846,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,3,21892378,159732303,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,4,13824148,79317608,7.0,3.0,1,49.0,1,1,1,...,1,0,0,0,0,0,0,0,0,0.0

In [3]:
#Firost we clear the disposable data that commomley appears uppon dataset upload
del  df['Unnamed: 0']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Columns: 159 entries, id to ListingsGroup
dtypes: float64(15), int64(144)
memory usage: 24.3 MB

In [5]:
#Creating Variables dataframeS
varSel = pd.DataFrame({'Variable': df.columns.drop('host_is_superhost')})
varSel

               Variable
0                    id
1               host_id
2         host_location
3    host_response_time
4    host_neighbourhood
..                  ...
153       _'work_email'
154           _'google'
155             'phone'
156   _'manual_offline'
157       ListingsGroup

[158 rows x 1 columns]

# Univariable Analysis

In [6]:
#from importlib import reload
from pyMechkar.analysis import Table1
#reload(tb1)

In [7]:
nm = df.columns.drop('host_is_superhost')
nm = nm.append(pd.Index(['host_is_superhost']))
nm

Index(['id', 'host_id', 'host_location', 'host_response_time',
       'host_neighbourhood', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed',
       ...
       '_'offline_government_id'', '_'government_id'', '_'selfie'',
       '_'identity_manual'', '_'work_email'', '_'google'', ''phone'',
       '_'manual_offline'', 'ListingsGroup', 'host_is_superhost'],
      dtype='object', length=159)

In [8]:
df2 = df[nm].copy()
#df2.head()

In [9]:
tab1 = Table1(data=df2, y="host_is_superhost")

Begining analysis...
Factorizing... please wait
[**************************************************************************************************************************************************************
[]
***************************************************************************************************************************************************************
***************************************************************************************************************************************************************
['Unable to calcualte the Fisher exact test for variables bed_type and host_is_superhost... The p-value may be incorrect']
------ Finished in 120.16543412208557econds -----

In [10]:
tab1

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,20030,16860,3170,NaN
1,id,Mean (SD),"15,417,254.10 (8,569,189.70)","15,704,177.70 (8,602,919.10)","13,891,218.70 (8,220,936.60)",0.000
2,id,Median (IQR),"15,630,490.00 (8,188,422.80-22,025,770.20)","15,877,719.00 (8,551,661.80-22,375,979.50)","14,590,042.00 (6,409,650.20-20,602,327.00)",NaN
4,host_id,Mean (SD),"48,685,695.20 (56,494,942.30)","50,095,687.10 (57,526,430.00)","41,186,495.30 (49,993,359.70)",0.000
5,host_id,Median (IQR),"23,694,499.00 (8,093,515.80-68,275,352.00)","24,579,203.50 (8,558,897.00-70,843,774.80)","19,308,641.00 (6,870,134.00-55,267,969.20)",NaN
...,...,...,...,...,...,...
362,'phone',1,"1,113.00 ( 5.60%)","1,019.00 ( 6.00%)",94.00 ( 3.00%),0.000
363,_'manual_offline',0,"19,600.00 ( 97.90%)","16,492.00 ( 97.80%)","3,108.00 ( 98.00%)",NaN
364,_'manual_offline',1,430.00 ( 2.10%),368.00 ( 2.20%),62.00 ( 2.00%),0.458
365,ListingsGroup,Mean (SD),0.60 ( 1.50),0.60 ( 1.50),0.60 ( 1.30),0.771
366,ListingsGroup,Median (IQR),0.00 ( 0.00- 0.00),0.00 ( 0.00- 0.00),0.00 ( 0.00- 1.00),NaN

In [11]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
1,id,Mean (SD),"15,417,254.10 (8,569,189.70)","15,704,177.70 (8,602,919.10)","13,891,218.70 (8,220,936.60)",0.000
4,host_id,Mean (SD),"48,685,695.20 (56,494,942.30)","50,095,687.10 (57,526,430.00)","41,186,495.30 (49,993,359.70)",0.000
11,host_response_time,4.0,"5,113.00 ( 25.50%)","3,713.00 ( 22.00%)","1,400.00 ( 44.20%)",0.000
18,host_total_listings_count,Mean (SD),6.10 ( 30.40),6.80 ( 32.90),2.30 ( 6.60),0.000
22,host_has_profile_pic,0,25.00 ( 0.10%),25.00 ( 0.10%),0.00 ( 0.00%),0.025
...,...,...,...,...,...,...
354,_'selfie',1,"3,582.00 ( 17.90%)","2,844.00 ( 16.90%)",738.00 ( 23.30%),0.000
356,_'identity_manual',1,"3,454.00 ( 17.20%)","2,751.00 ( 16.30%)",703.00 ( 22.20%),0.000
358,_'work_email',1,"2,476.00 ( 12.40%)","1,951.00 ( 11.60%)",525.00 ( 16.60%),0.000
360,_'google',1,929.00 ( 4.60%),756.00 ( 4.50%),173.00 ( 5.50%),0.019
362,'phone',1,"1,113.00 ( 5.60%)","1,019.00 ( 6.00%)",94.00 ( 3.00%),0.000

In [12]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

129

array(['id', 'host_id', 'host_response_time', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude', 'property_type', 'room_type',
       'accommodates', 'bedrooms', 'beds', 'bed_type', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'instant_bookable', 'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month',
       'years_of_hosting', 'qnum_since_last_review',
       'qnum_since_first_review', 'tv', 'cable_tv', 'wifi', 'kitchen',
       'heating', 'washer', 'smoke_detector', 'essentials', 'hangers',
       'iron', 'carbon_monoxide_detector', 'hair_dryer',
       'translation_missing:_en.hosting_amenity_49',
       'translation_missing:_en.hosting_amenity_50',
       'laptop_friendly_workspace', 'smoking_allowed', 'shampoo',
       'fire_extinguisher', 'air_conditioning', 'suitable_for_events',
       'first_aid_kit', 'pets_allowed', 'hot_tub', 'safety_card',
       'buzzer/wireless_intercom', '24_hour_check_in', 'private_entrance',
       'breakfast', 'host_greets_you', 'paid_parking_off_premises',
       'changing_table', 'high_chair', 'babysitter_recommendations',
       'pack_â€™n_play/travel_crib', 'room_darkening_shades', 'hot_water',
       'bed_linens', 'extra_pillows_and_blankets', 'ethernet_connection',
       'microwave', 'coffee_maker', 'refrigerator', 'dishwasher',
       'dishes_and_silverware', 'cooking_basics', 'oven', 'stove',
       'single_level_home', 'patio_or_balcony', 'waterfront',
       'private_living_room', 'lock_on_bedroom_door',
       'garden_or_backyard', 'long_term_stays_allowed', 'wide_doorway',
       'step_free_access', 'accessible_height_bed', 'other',
       'paid_parking_on_premises', 'self_check_in', 'lockbox',
       'pets_live_on_this_property', 'building_staff', 'bathtub',
       'window_guards', 'game_console', 'luggage_dropoff_allowed',
       'wide_hallway_clearance', 'flat_path_to_front_door',
       'well_lit_path_to_entrance', 'handheld_shower_head', 'pocket_wifi',
       'gym', 'bbq_grill', 'wide_clearance_to_bed', 'wide_entryway',
       'free_street_parking', 'cat(s)', "'email'", "_'phone'",
       "_'reviews'", "_'jumio'", "_'offline_government_id'",
       "_'government_id'", "_'selfie'", "_'identity_manual'",
       "_'work_email'", "_'google'", "'phone'"], dtype=object)

We will add these variables to our variable selection table

In [13]:
varSel['Univarable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univarable'] = 1
varSel

               Variable  Univarable
0                    id           1
1               host_id           1
2         host_location           0
3    host_response_time           1
4    host_neighbourhood           0
..                  ...         ...
153       _'work_email'           1
154           _'google'           1
155             'phone'           1
156   _'manual_offline'           0
157       ListingsGroup           0

[158 rows x 2 columns]

## Multivariable Analysis

In [14]:
### drop na
df2 = df2.dropna()

In [15]:
df2.shape

(20030, 159)

In [16]:
## remove unnecessary vars
X = df2.iloc[:,:-1]
X

,id,host_id,host_location,host_response_time,host_neighbourhood,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,...,_'facebook',_'offline_government_id',_'government_id',_'selfie',_'identity_manual',_'work_email',_'google','phone',_'manual_offline',ListingsGroup
0,6345018,31857493,6.0,1.0,49.0,1,0,0,32.0,4.0,...,0,0,0,0,0,0,0,0,0,0.0
1,10227700,52558016,6.0,1.0,49.0,1,0,0,6.0,2.0,...,0,0,0,0,0,0,0,0,0,0.0
2,13585881,78399846,6.0,1.0,49.0,1,0,0,35.0,15.0,...,0,0,0,0,0,0,0,0,0,0.0
3,21892378,159732303,6.0,1.0,49.0,1,0,0,55.0,12.0,...,0,0,0,0,0,0,0,0,0,0.0
4,13824148,79317608,7.0,3.0,49.0,1,1,1,13.0,20.0,...,1,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,28830788,60865851,6.0,3.0,13.0,1,1,0,15.0,21.0,...,0,0,0,0,0,0,0,0,0,0.0
20026,29230120,94786135,6.0,4.0,10.0,1,1,0,13.0,20.0,...,0,0,0,0,0,0,0,1,0,0.0
20027,29275952,66608213,6.0,1.0,49.0,1,1,0,25.0,9.0,...,0,0,0,0,0,0,0,0,0,0.0
20028,30166752,74976114,6.0,1.0,31.0,1,1,0,37.0,20.0,...,0,0,0,0,0,0,0,0,0,0.0
20029,30465969,41444633,6.0,4.0,13.0,1,1,0,15.0,21.0,...,0,0,0,0,0,0,0,0,0,0.0

In [17]:
y = df2.iloc[:,-1:]
print([X.shape,y.shape])

[(20030, 158), (20030, 1)]

### Variable Selection using LASSO (L1 penalization)

In [18]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [19]:
lassomod = Lasso(alpha=0.01).fit(X, y)

In [20]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False,  True,  True,  True, False, False,  True,
        True, False, False, False,  True, False, False, False, False,
        True, False, False, False,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True, False, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [21]:
varSel['Lasso'] = model.get_support().astype('int64')

## Variable Selection using Random Forest

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestClassifier().fit(X, y)
#rfmod.feature_importances_

In [23]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True,  True, False,  True,  True,  True, False, False,  True,
        True,  True,  True, False,  True,  True, False, False, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True, False, False,  True, False,
       False,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True])

In [24]:
varSel['RandomForest'] = model.get_support().astype('int64')

### Variable Selection using Gradient Boosting classification

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingClassifier().fit(X, y)

In [26]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False,  True, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [27]:
varSel['GradientBoost'] = model.get_support().astype('int64')

### Variable Selection using SVM classification

In [28]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False).fit(X, y)

In [29]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([False, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False,  True, False, False,  True,  True,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False, False,  True,  True,
       False,  True, False,  True, False, False,  True,  True, False,
        True, False, False, False, False, False,  True,  True,  True,
       False, False, False, False, False,  True, False, False, False,
       False,  True,  True,  True, False,  True, False, False, False,
       False, False, False,  True, False,  True, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True,  True, False, False, False,
        True, False, False, False,  True])

In [30]:
varSel['SVM'] = model.get_support().astype('int64')

### Summarization and Selection of Variables

In [31]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,id,1,0,1,0,0,2
1,host_id,1,0,1,0,0,2
2,host_location,0,0,0,0,1,1
3,host_response_time,1,1,1,1,1,5
4,host_neighbourhood,0,1,1,0,1,3
...,...,...,...,...,...,...,...
153,_'work_email',1,0,0,0,1,2
154,_'google',1,0,0,0,0,1
155,'phone',1,0,0,0,0,1
156,_'manual_offline',0,0,0,0,0,0
157,ListingsGroup,0,0,1,0,1,2

In [32]:
varSel.groupby('Sum')['Variable'].count()

Sum
0    13
1    70
2    41
3    12
4    13
5     9
Name: Variable, dtype: int64

We can now decide a threshold for selecting our variables!

In [33]:
varSel[varSel['Sum']==5]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
3,host_response_time,1,1,1,1,1,5
5,host_total_listings_count,1,1,1,1,1,5
33,number_of_reviews,1,1,1,1,1,5
34,review_scores_rating,1,1,1,1,1,5
46,calculated_host_listings_count,1,1,1,1,1,5
47,reviews_per_month,1,1,1,1,1,5
49,qnum_since_last_review,1,1,1,1,1,5
50,qnum_since_first_review,1,1,1,1,1,5
96,hot_water,1,1,1,1,1,5

In [34]:
varSel[varSel['Sum']>=4]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
3,host_response_time,1,1,1,1,1,5
5,host_total_listings_count,1,1,1,1,1,5
9,neighbourhood_cleansed,1,1,1,0,1,4
13,property_type,1,1,1,0,1,4
18,beds,1,1,1,0,1,4
25,extra_people,1,1,1,0,1,4
26,minimum_nights,1,1,1,0,1,4
27,maximum_nights,1,1,1,0,1,4
28,calendar_updated,1,1,1,0,1,4
29,availability_30,1,1,1,0,1,4
30,availability_60,1,1,1,0,1,4
31,availability_90,1,1,1,0,1,4
32,availability_365,1,1,1,0,1,4
33,number_of_reviews,1,1,1,1,1,5
34,review_scores_rating,1,1,1,1,1,5
36,review_scores_cleanliness,1,1,1,0,1,4
46,calculated_host_listings_count,1,1,1,1,1,5
47,reviews_per_month,1,1,1,1,1,5
48,years_of_hosting,1,1,1,0,1,4
49,qnum_since_last_review,1,1,1,1,1,5
50,qnum_since_first_review,1,1,1,1,1,5
96,hot_water,1,1,1,1,1,5

In [35]:
varSel[varSel['Sum']>=3]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
3,host_response_time,1,1,1,1,1,5
4,host_neighbourhood,0,1,1,0,1,3
5,host_total_listings_count,1,1,1,1,1,5
8,neighbourhood,0,1,1,0,1,3
9,neighbourhood_cleansed,1,1,1,0,1,4
10,latitude,1,0,1,0,1,3
13,property_type,1,1,1,0,1,4
14,room_type,1,0,1,0,1,3
18,beds,1,1,1,0,1,4
22,security_deposit,0,1,1,0,1,3
25,extra_people,1,1,1,0,1,4
26,minimum_nights,1,1,1,0,1,4
27,maximum_nights,1,1,1,0,1,4
28,calendar_updated,1,1,1,0,1,4
29,availability_30,1,1,1,0,1,4
30,availability_60,1,1,1,0,1,4
31,availability_90,1,1,1,0,1,4
32,availability_365,1,1,1,0,1,4
33,number_of_reviews,1,1,1,1,1,5
34,review_scores_rating,1,1,1,1,1,5
35,review_scores_accuracy,1,0,1,0,1,3
36,review_scores_cleanliness,1,1,1,0,1,4
38,review_scores_communication,1,0,1,0,1,3
40,review_scores_value,1,0,1,0,1,3
46,calculated_host_listings_count,1,1,1,1,1,5
47,reviews_per_month,1,1,1,1,1,5
48,years_of_hosting,1,1,1,0,1,4
49,qnum_since_last_review,1,1,1,1,1,5
50,qnum_since_first_review,1,1,1,1,1,5
65,hair_dryer,1,1,0,0,1,3
71,shampoo,1,1,0,0,1,3
96,hot_water,1,1,1,1,1,5
104,dishes_and_silverware,1,1,0,0,1,3
129,luggage_dropoff_allowed,1,0,1,0,1,3

In [36]:
varSel[varSel['Sum']>=2]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,id,1,0,1,0,0,2
1,host_id,1,0,1,0,0,2
3,host_response_time,1,1,1,1,1,5
4,host_neighbourhood,0,1,1,0,1,3
5,host_total_listings_count,1,1,1,1,1,5
...,...,...,...,...,...,...,...
129,luggage_dropoff_allowed,1,0,1,0,1,3
146,_'reviews',1,0,0,0,1,2
149,_'offline_government_id',1,0,0,0,1,2
153,_'work_email',1,0,0,0,1,2
157,ListingsGroup,0,0,1,0,1,2

In [37]:
type(varSel)

pandas.core.frame.DataFrame

# Creating DataFrame with most valuable variables

 We select the variables that are recommended by 3 or more models

In [38]:
final_var = varSel[varSel['Sum']>=3]['Variable'].tolist()
df_model = df[final_var].copy()
## add our Y 
df_model['host_is_superhost'] = df['host_is_superhost'].copy()

In [39]:
df_model.shape

(20030, 35)

In [40]:
df_model.to_csv('df_model.csv')

### Setting proportion for Train, Test, Dev

In [41]:
from pyMechkar.analysis import train_test

In [42]:
train, temp = train_test(df_model, prop=0.6, seed=18)

Begining analysis...
Factorizing... please wait
***********************************
[]
[************************************
[************************************
[]
------ Finished in 13.669488668441772econds -----

You got a perfectly balanced training and test datasets

In [43]:
#60%
train.shape

(12018, 36)

In [44]:
df_object_train =  train.select_dtypes(include = ['object']).columns

### Encoding Categorial Data

In [45]:
from sklearn.preprocessing import OrdinalEncoder

for col in df_object_train:
  ord_enc = OrdinalEncoder()
  train[[col]] = ord_enc.fit_transform(train[[col]])

In [46]:
train.to_csv('Amsterdam_train.csv')

In [47]:
dev, test = train_test(temp, prop=0.5, seed=18)

Begining analysis...
Factorizing... please wait
***********************************
[]
[************************************
[************************************
[]
------ Finished in 12.899358987808228econds -----

You got a perfectly balanced training and test datasets

In [48]:
test.to_csv('Amsterdam_test.csv')

In [49]:
test

,host_response_time,host_neighbourhood,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,property_type,room_type,beds,security_deposit,...,years_of_hosting,qnum_since_last_review,qnum_since_first_review,hair_dryer,shampoo,hot_water,dishes_and_silverware,luggage_dropoff_allowed,host_is_superhost,split
19727,1.0,31.0,1,37.0,7.0,52.369465,1.0,0.0,2,0,...,8,4,12,1,1,1,0,1,0,test
3644,1.0,45.0,2,54.0,19.0,52.353754,18.0,0.0,5,150,...,4,6,15,1,1,1,0,1,0,test
14036,1.0,8.0,1,11.0,8.0,52.353056,13.0,0.0,1,300,...,3,7,12,0,0,1,0,0,0,test
9262,4.0,49.0,1,33.0,17.0,52.357328,1.0,0.0,3,0,...,7,5,13,1,1,1,1,1,0,test
12343,1.0,9.0,2,12.0,5.0,52.372714,1.0,0.0,3,100,...,5,6,14,0,1,0,0,0,0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5172,1.0,40.0,1,46.0,21.0,52.349190,1.0,0.0,2,100,...,8,13,31,1,1,0,0,0,0,test
18631,4.0,25.0,2,30.0,4.0,52.370358,2.0,1.0,1,0,...,5,4,5,1,1,1,0,0,0,test
11158,4.0,7.0,1,10.0,3.0,52.326770,1.0,0.0,3,200,...,5,5,18,0,1,0,0,0,0,test
13171,1.0,49.0,3,30.0,5.0,52.372168,11.0,1.0,4,250,...,4,14,14,1,0,0,0,0,0,test
678,1.0,16.0,1,19.0,5.0,52.377888,1.0,0.0,2,0,...,6,4,23,1,1,1,1,1,1,test

In [50]:
dev.to_csv('Amsterdam_dev.csv')

In [51]:
dev

,host_response_time,host_neighbourhood,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,property_type,room_type,beds,security_deposit,...,years_of_hosting,qnum_since_last_review,qnum_since_first_review,hair_dryer,shampoo,hot_water,dishes_and_silverware,luggage_dropoff_allowed,host_is_superhost,split
7673,1.0,15.0,1,18.0,14.0,52.365119,1.0,0.0,1,100,...,5,0,0,0,0,0,0,0,0,train
10934,0.0,16.0,1,19.0,5.0,52.375373,13.0,0.0,2,0,...,5,5,18,1,0,1,0,1,0,train
8449,1.0,49.0,1,38.0,3.0,52.342547,1.0,0.0,1,0,...,6,9,17,1,1,0,0,0,0,train
18850,4.0,11.0,6,14.0,4.0,52.365020,1.0,0.0,2,100,...,2,0,0,1,0,0,0,0,0,train
1783,1.0,31.0,1,37.0,20.0,52.381850,1.0,0.0,2,150,...,4,5,15,1,1,1,1,1,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13161,1.0,49.0,1,19.0,8.0,52.356892,1.0,0.0,2,100,...,4,10,15,1,1,0,0,0,0,train
2389,4.0,26.0,1,16.0,11.0,52.349616,1.0,1.0,2,200,...,5,5,10,1,1,1,1,1,1,train
15003,3.0,11.0,1,14.0,4.0,52.360789,1.0,0.0,1,300,...,3,4,11,1,1,1,0,0,0,train
5527,1.0,15.0,1,18.0,17.0,52.360705,1.0,0.0,2,0,...,7,5,9,1,0,0,0,0,0,train
5366,2.0,16.0,1,19.0,5.0,52.379173,18.0,0.0,10,0,...,7,6,29,1,1,1,0,1,0,train

# NEXT to stage 5 - Imbalanced data...